/* css gestor de tareas*/
*{
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	font-size: 100%;
	margin:0;

}

#tituloweb{
	width:100%;
	height:30%;
	background: #0C5B8D;

}
h1{
	width:20%;
	padding:40px;
	margin:0 auto;
	font-size: 200%;
	color:white;
}

#contenido{
	display: flex;
	flex-direction:row;

}
main{
	width:70%;
	min-height: 700px;
	display: flex;
	order:1;
	flex-direction:column;
}
input{
	border-radius: 5px;
	transition:1s;
	border: 1px solid black;

}
input:required{
	border:1px solid red;
}
.btn{
	background: #389DD2;
	color:white;
}
section{
	width:40%;
	height: 20%;
	margin: 10px;
	background: #248DB4;
	border:1px solid black;
	border-radius: 10px;
	color:white;

}
#categoria{
	display: block;
	font-size: 200%;
	border-bottom: 1px solid white;
}
aside{
	width:30%;
	min-height: 700px;
	display: flex;
	order:2;
	flex-direction:column;
	background: #BCE7FF;

}
aside ul{
	width:80%;
	margin: 5px auto;
	list-style: none;
	background: #fff;
	border:1px solid black;
	border-radius: 5px;
	padding: 0;
	
}
aside ul li{
	width:100%;
	
	border-top:1px solid black;
	padding: 0;
	transition: 1s;
}
aside ul li a{
	text-decoration: none;
}
aside ul li:hover{
	background: #2E5C94;

}
aside ul li:hover a{
	color:white;
}

footer{
	background: #0C5B8D;
	color:white;
}

@media (max-width: 600px) {
	aside{
		width: 100%;
		max-height: 50px;
	}
	
	
	
	#contenido{
		display:flex;
		flex-direction:column;
	}
	
}



